#katas-list {
    width: 600px;
    margin: 20px;
    padding: 0;
}

.kata-li {
    display: flex;
    list-style: none;
    padding: 4px 16px;
    border-bottom: 1px solid #eee;
    font-size: 1.1em;
    background: #fafafa;
}

.kata-title {
    flex: 1;
    text-align: left;
}

.kata-completed {
    width: 32px;
    text-align: center;
    font-size: 1.3em;
}

.kata-completed::before {
    content: "❌";
    color: red;
}

.kata-completed.yes::before {
    content: "✔️";
    color: green;
}

#message.error {
    color: red;
}